<div id="page-wrapper">

    <!-- Header -->
        <div id="header-wrapper">
            <div id="header" class="container">

                <!-- Logo -->
                    <h1 id="logo"><a href="index.html">Emotion Detector</a></h1>

                <!-- Nav -->
            </div>

            <!-- Hero -->
                <section id="hero" class="container">
                    <header>
                        <h2>Emotion Recognition
                        <br />
                        in Facial Expressions and Text</h2>
                    </header>
                    <ul class="actions">
                        <li><a fragment="#detection" (click)="navigateToSection('detection')"  class="button">Find your Emotion</a></li>
                    </ul>
                </section>

        </div>
        
        <div id="promo-wrapper">
            
            <section id="promo">
                <div class="container">
                    <div class="row" id="align">
                        <div class="col-2">
                            <!-- <h2> &#x1F642; </h2> -->
                            <!-- <angular-emojis [name]="'smiley'" size="60"> </angular-emojis> -->
                            <img src="../../../assets/Joy.jpeg" style="width:60px; height:60px; margin-top: 16px;" alt="">
                            <br>
                            <p>Happy</p>
                        </div>
                <div class="col-2">
                    <!-- <angular-emojis [name]="'neutral face'" size="60"> </angular-emojis> -->
                    <img src="../../../assets/Neutral.jpeg"  style="width:60px; height:60px; margin-top: 16px;" alt="">
                <br><p>Neutral</p></div>
                <div class="col-2">
                    <img src="../../../assets/Sad.jpeg"  style="width:60px; height:60px; margin-top: 16px;" alt="">
                    <p>Sad</p></div>
                <div class="col-2">
                    <img src="../../../assets/Angry.jpeg"  style="width:60px; height:60px; margin-top: 16px;" alt="">
                    <br><p>Angry</p></div>
                <div class="col-2">
                    <img src="../../../assets/Surprise.jpeg"  style="width:60px; height:60px; margin-top: 16px;" alt="">
                    <br><p>Surprise</p></div>
                <div class="col-2">
                    <img src="../../../assets/Disgust.jpeg"  style="width:60px; height:60px; margin-top: 16px;" alt="">
                    <br><p>Disgust</p></div></div></div>
            </section>
            <section id="promo">
                <h2>Facial Emotion Recognition</h2><br><br>
                <p> Facial Emotion Recognizition is identifying the emotion of the person by analyzing the facial expressions. We analyze different facial features like eyebrows, eye, mouth and then based on their paramters we identify the emotion.
                    Facial expressions on can display our personal emotions and indicate our intentions within a social situation. This is very important in social interactions. Hence identification of emotion based on facial expressions would help us to get more contextual information about situation and learn one’s opinion about it.
                </p>
            </section>

            
            <section id="promo">
                <h2>Emotion Recognition in Texts</h2><br><br>
                <p>
                    Emotion Recognition in conversations is an essential frontier due to its ability to mine opinions and detect the underlying emotions from various texts. It helps form different opinions from certain conversations which helps platforms like Twitter, Reddit, YouTube, Facebook etc. 
                    It also enables us to provide automated and emotion-aware replies for a dialogue which helps in automated chatbots.
                    We use different factors like number and way of utterances, prior mood, tone , punctuation and several other parameters to detect the emotion. 
                </p>
            </section>
        </div>

    <!-- Features 1 -->
        <div class="wrapper" id="detection">
            <div class="container">
                <div class="row">
                    <section class="col-6 col-12-narrower feature">
                        <div class="image-wrapper first">
                            <a routerLink="/user/facial" class="image featured first"><img src="../../../assets/images/pic01.jpg" alt="" /></a>
                        </div>
                        <header>
                            <h2>Facial Emotion Recognition</h2>
                        </header>
                        <p>The emotion of your face will be detected when faced in front of the camera and the answer will be provided</p>
                        <ul class="actions">
                            <li><a routerLink="/user/facial" class="button">Detect my Expression</a></li>
                        </ul>
                    </section>
                    <section class="col-6 col-12-narrower feature">
                        <div class="image-wrapper">
                            <a routerLink="/user/conversation" class="image featured"><img src="../../../assets/images/pic02.png" alt="" /></a>
                        </div>
                        <header>
                            <h2>Emotion Recognition in Text</h2>
                        </header>
                        <p>Emotion present in the text that you input will be detected and the answer will be provided</p>
                        <ul class="actions">
                            <li><a routerLink="/user/conversation" class="button">Detect the emotion in my text</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>

    

</div>

<!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
